html, body {
	height: 100%
	overflow: hidden;
}

.hero-unit {
	background-color: rgb(221,221,221);
}

.container > footer p {
  text-align: center;
}

.latest {
	min-height: 200px;
	max-height: 275px;
	overflow: auto;
}

dl dt {
	border-top: 1px solid whiteSmoke;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid whiteSmoke;
	line-height: 2.5;
	margin-bottom: 6px;
}

.btn.tiny {
	padding: 5px 7px 5px;
	font-size: 10px;
}