mixin packages(data)
	dl.latest
		each package in data.packages
			dt
				.row
					.span7
						#{package.id || package.value.name}
					.span7
						#{package.package_date || package.value.description}
					.span2
						a.btn(class="pull-right primary small", href="/#{package.id || package.value.name}") Info &raquo;